{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=0.3, shrink-to-fit=yes">
  <meta http-equiv="x-ua-compatible" content="ie=edge"> 
  <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/gif" sizes="16x16">
  <title>4o4</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
  <style>
  body{
  background-image: url("https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif");
  background-color: #fff;
  color:#000;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }
  @media only screen and (max-width: 1000px) {
  body {
    height: 100%;
    width: 320px;
  }
  h5,a{
  font-size: 3em;
  }
}
  </style>
</head>
<body>
    <center class="mt-5 pt-3">
    <h5 >Opps! Page not found</h5>
    <a class="btn rounded mt-2" style="background-color:#fff;color:#000;font-size: 3em" href="/">Go back to Homepage</a>
    </center>
    </div>
</body>
</html>