{% load static %}
<div class="menu-overlay">
    <ul class="items">
        <li onclick="togglemenu()"><a href="/">Home</a></li>
        <li onclick="togglemenu()"><a href="/about">About Us</a></li>        
        <li onclick="togglemenu()"><a href="/gallery">Gallery</a></li>
        <li onclick="togglemenu()"><a href="/events">Events</a></li>
        <li onclick="togglemenu()"><a href="/blogs">Blogs</a></li>
        <li onclick="togglemenu()"><a href="/obanna">Vadde Obanna</a></li>
        <li onclick="togglemenu()"><a href="#contact">Contact Us</a></li>
        <li><a id="google_translate_element"></a></li>
    </ul>
</div>    
<header>        
    <div class="navbar">
        <div class="logo" onclick="javascript:location.href='/'" >
            <span>V</span>OICE <span>T</span>rust
        </div>        
        <div onclick="javascript:location.href='/'" style="cursor: pointer;" class="logo-img">
            <img onclick="javascript:location.href='/'" src="{% static 'images/vol.png' %}" alt="">
        </div>    
        <div class="small-screen bared">
            <div class="icons">
                <div class="icon menu-bar" onclick="togglemenu()">
                    <span class="far fa-bars"></span>
                </div>                    
                <div class="icon close" onclick="togglemenu()">
                    <span class="far fa-times"></span>
                </div>
            </div>                
        </div>
        <div class="menu">                
            <ul class="items">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About Us</a></li>                    
                <li><a href="/events">Events</a></li>
                <li><a href="/gallery">Gallery</a></li>  
                <li><a href="/blogs">Blogs</a></li>
                <li><a href="/obanna">Vadde Obanna</a></li>
                <li><a href="#contact">Contact Us</a></li>
                <li><div id="google_translate_element1"></div></li>
            </ul>
        </div>
    </div>
</header>